# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings
##########################################################################################################

general {
    # Spawning rules only take actions/effects from the first entry that is matched correctly, this is default behavior, disable at own risk [default: true]
    B:firstMatchOnly=true

    # The maximum range for finding the nearest player for the spawn rules [range: 0 ~ 2147483647, default: 100]
    I:maxPlayerDistance=100

    # Overrides the Vanilla value for minimum range from a player general mobs are allowed to spawn naturally at [range: 8.0 ~ 128.0, default: 24.0]
    S:minPlayerMobSpawnDistance=24.0

    # Overrides the Vanilla value for minimum range from a player monster mobs are allowed to spawn naturally at [range: 8.0 ~ 128.0, default: 24.0]
    S:minPlayerMonsterSpawnDistance=24.0

    # Enforces onJoin actions only apply to EntityJoinWorldEvent, not to EntitySpawnEvent, false for existing behavior applying to both [default: true]
    B:onJoinEnforcement=true
}


