# Configuration file

general {

    "apprentice's ring tweaks" {
        # Allows the Apprentice's Ring to be rarely found in some vanilla structure chests.
        B:"Apprentice's Ring Structure Loot"=false

        # The Vis discount granted by the Apprentice's Ring.
        # Min: 1
        # Max: 100
        I:"Apprentice's Ring Vis Discount"=5
    }

    "crucible tweaks" {
        # A list of blocks that can be used as Crucible heat sources.
        # Format:
        #   modid:blockid
        #   modid:blockid:meta
        # Example:
        #   minecraft:stone
        #   minecraft:stone:0
        S:"Crucible Heat Sources" <
         >

        # Disables item interaction when right-clicking on a boiling crucible, preventing items from being consumed.
        B:"Disable Item Interaction"=false
    }

    "crimson cult robes tweaks" {
        # The Vis discount granted when wearing the Crimson Cult Hood.
        # Min: 0
        # Max: 100
        I:"Helm Vis Discount"=1

        # The Vis discount granted when wearing the Crimson Cult Leggings.
        # Min: 0
        # Max: 100
        I:"Leggings Vis Discount"=1

        # The Vis discount granted when wearing the Crimson Cult Robes.
        # Min: 0
        # Max: 100
        I:"Robes Vis Discount"=1
    }

    "curiosity tweaks" {
        # The chance for an Eldritch Guardian to drop an Eldritch Curiosity.
        # Min: 0.0
        # Max: 1.0
        D:"Eldritch Guardian Curiosity Chance"=0.0

        # The chance for a Giant Taint Seed to drop a Twisted Curiosity.
        # Min: 0.0
        # Max: 1.0
        D:"Giant Taint Seed Curiosity Chance"=0.0
    }

    "equipment tweaks" {

        "goggles of revealing tweaks" {
            # The Vis discount granted when wearing the Goggles of Revealing.
            # Min: 0
            # Max: 100
            I:"Goggles Vis Discount"=1
        }

        "thaumaturge's robes tweaks" {
            # The Vis discount granted when wearing the Thaumaturge's Boots.
            # Min: 0
            # Max: 100
            I:"Boots Vis Discount"=2

            # The Vis discount granted when wearing the Thaumaturge's Leggings.
            # Min: 0
            # Max: 100
            I:"Leggings Vis Discount"=3

            # The Vis discount granted when wearing the Thaumaturge's Robes.
            # Min: 0
            # Max: 100
            I:"Robes Vis Discount"=3
        }

    }

    "fluid death tweaks" {
        # A modifier that increases the amount of damage done when an entity is in contact with liquid death. A 
        # value of 1.0 will deal default damage, a value of 2.0 will deal double damage, and so on.
        # Min: 0.0
        # Max: 10000.0
        D:"Damage Modifier"=1.0
    }

    "flux phage tweaks" {
        # A list of entities that will not be infected with Flux Phage. Format: minecraft:zombie
        S:"Entity Blacklist" <
         >
    }

    "flux pollution tweaks" {
        # The time, in ticks, between each instability decay operation of the Essentia Mirror. Smaller values will result in less flux.
        # Min: 1
        # Max: 10000
        I:"Essentia Mirror Instability Decay Rate"=100

        # The time, in ticks, between each instability decay operation of the Mirror. Smaller values will result in less flux.
        # Min: 1
        # Max: 10000
        I:"Mirror Instability Decay Rate"=100
    }

    "fortress armor tweaks" {
        # Gives the Fortress Armor knockback resistance. Chest = 0.4, Legs = 0.3, Helm = 0.3
        B:"Enable Knockback Resistance"=false
    }

    "golem tweaks" {

        "material: greatwood" {
            # The golem material item override. Golem materials are normally selected from the first value registered
            # in the ore dictionary. This overrides that value with a specific item.
            # Examples:
            #   minecraft:iron_ingot
            #   minecraft:iron_ingot:0
            S:"Golem Material Override"=

            # The base golem material armor value.
            # Min: 0
            # Max: 100
            I:"Material Armor"=2

            # The base golem material damage value.
            # Min: 0
            # Max: 100
            I:"Material Damage"=1

            # The base golem material health value. Actual golem health will be this value plus 10.
            # Min: 0
            # Max: 100
            I:"Material Health"=6
        }

        "material: iron" {
            # The golem material item override. Golem materials are normally selected from the first value registered
            # in the ore dictionary. This overrides that value with a specific item.
            # Examples:
            #   minecraft:iron_ingot
            #   minecraft:iron_ingot:0
            S:"Golem Material Override"=

            # The base golem material armor value.
            # Min: 0
            # Max: 100
            I:"Material Armor"=8

            # The base golem material damage value.
            # Min: 0
            # Max: 100
            I:"Material Damage"=3

            # The base golem material health value. Actual golem health will be this value plus 10.
            # Min: 0
            # Max: 100
            I:"Material Health"=20
        }

        "material: clay" {
            # The golem material item override. Golem materials are normally selected from the first value registered
            # in the ore dictionary. This overrides that value with a specific item.
            # Examples:
            #   minecraft:iron_ingot
            #   minecraft:iron_ingot:0
            S:"Golem Material Override"=

            # The base golem material armor value.
            # Min: 0
            # Max: 100
            I:"Material Armor"=4

            # The base golem material damage value.
            # Min: 0
            # Max: 100
            I:"Material Damage"=2

            # The base golem material health value. Actual golem health will be this value plus 10.
            # Min: 0
            # Max: 100
            I:"Material Health"=10
        }

        "material: brass" {
            # The golem material item override. Golem materials are normally selected from the first value registered
            # in the ore dictionary. This overrides that value with a specific item.
            # Examples:
            #   minecraft:iron_ingot
            #   minecraft:iron_ingot:0
            S:"Golem Material Override"=

            # The base golem material armor value.
            # Min: 0
            # Max: 100
            I:"Material Armor"=4

            # The base golem material damage value.
            # Min: 0
            # Max: 100
            I:"Material Damage"=2

            # The base golem material health value. Actual golem health will be this value plus 10.
            # Min: 0
            # Max: 100
            I:"Material Health"=10
        }

        "material: thaumium" {
            # The golem material item override. Golem materials are normally selected from the first value registered
            # in the ore dictionary. This overrides that value with a specific item.
            # Examples:
            #   minecraft:iron_ingot
            #   minecraft:iron_ingot:0
            S:"Golem Material Override"=

            # The base golem material armor value.
            # Min: 0
            # Max: 100
            I:"Material Armor"=10

            # The base golem material damage value.
            # Min: 0
            # Max: 100
            I:"Material Damage"=4

            # The base golem material health value. Actual golem health will be this value plus 10.
            # Min: 0
            # Max: 100
            I:"Material Health"=24
        }

        "material: void metal" {
            # The golem material item override. Golem materials are normally selected from the first value registered
            # in the ore dictionary. This overrides that value with a specific item.
            # Examples:
            #   minecraft:iron_ingot
            #   minecraft:iron_ingot:0
            S:"Golem Material Override"=

            # The base golem material armor value.
            # Min: 0
            # Max: 100
            I:"Material Armor"=6

            # The base golem material damage value.
            # Min: 0
            # Max: 100
            I:"Material Damage"=4

            # The base golem material health value. Actual golem health will be this value plus 10.
            # Min: 0
            # Max: 100
            I:"Material Health"=20
        }

    }

    "infusion enchantment tweaks" {
        # The base increase the Refining infusion enchant has when harvesting ores. The calculation is equal
        # to: chance = (refiningLevel + baseIncrease) * clusterChance
        # Min: 1
        # Max: 100
        I:"Refining Base Increase"=1

        # The amount each level of Fortune will increase the chance Refining will purify ore into its cluster variant.
        # Min: 0.0
        # Max: 1.0
        D:"Refining Fortune Bonus"=0.0

        # The chance each level of Refining has to purify ore into its cluster variant.
        # Min: 0.0
        # Max: 1.0
        D:"Refining Purification Chance"=0.125

        # Add, remove or modify the particle colors whenever a nearby block is detected with the sounding infusion enchant.
        # Format:
        #   material=hexcolor
        # Examples:
        #   iron=D8AF93
        #   coal=101010
        S:"Sounding Color Overrides" <
            aluminum=EFEFF1
            ambrosium=D8DE28
            amethyst=AD53DA
            anglesite=B16100
            apatite=36A1E5
            aquamarine=3AECFF
            ardite=E5B740
            astralStarmetal=003C89
            bauxite=EFEFF1
            benitoite=00B3A4
            certusQuartz=BADBFF
            chargedCertusQuartz=BADBFF
            cheese=CCB600
            cobalt=2E7CE6
            desh=545454
            draconium=4B236E
            electrotine=0A467A
            firestone=DD731E
            fluorite=9893E0
            galena=5B5B5B
            gravitite=D061AE
            ilmenite=3A4E70
            iridium=BDBED1
            lead=5B5B5B
            malachite=70D3C1
            mithril=5CD6FF
            nickel=9EA59E
            osmium=B5CACC
            peridot=83D951
            phosphorus=D8E0AD
            platinum=C6D5F2
            pyrite=E8BF65
            ruby=D04545
            salt=EFE8E6
            saltpeter=E3E3E3
            sapphire=547DDB
            sheldonite=C6D5F2
            silicon=6B7786
            sodalite=6689AF
            solar=E17B29
            sphalerite=B0BCAA
            sulfur=EFC761
            tanzanite=4800CE
            titanium=3A4E70
            topaz=E85F0B
            tungsten=3D4047
            uranium=57744B
            yellorite=E5E200
            zanite=7139BC
            zinc=B0BCAA
         >

        # The amount each level of the Sounding infusion enchant will increase the search radius when scanning
        # for ores. The calculation of this value is equal to: radius = 4 + (level * modifier)
        # Min: 1
        # Max: 20
        I:"Sounding Radius Modifier"=4
    }

    "miscellaneous tweaks" {
        # Enables alchemical brass ingots to require copper instead of iron to create.
        B:"Alchemical Brass Requires Copper"=false

        # Disables Thaumcraft's dynamic aspect generation from crafting recipes.
        B:"Disable Crafting Recipe Aspects"=false

        # Disables Thaumcraft's dynamic aspect generation from crucible recipes.
        B:"Disable Crucible Recipe Aspects"=false

        # Disables Thaumcraft's dynamic aspect generation from infusion recipes.
        B:"Disable Infusion Recipe Aspects"=false

        # Restores the original scanning functionality from 1.7.10.
        B:"Legacy Thaumometer Scanning"=false

        # A list of dimension ids where the Thaumometer can be used to scan the sky to obtain research notes.
        I:"Sky Scan Dimensions" <
         >
    }

    "pech tweaks" {
        # 
        # Min: 1
        # Max: 100
        I:"Item Value Divisor"=2

        # The maximum trade value any item can have when offered to a Pech trader.
        # Min: 1
        # Max: 500
        I:"Max Trade Value"=32
    }

    "porous stone tweaks" {
        # Enable Porous Stone drop tweaks. CraftTweaker and GroovyScript methods require this option set to true.
        B:"Enable Porous Stone Tweaks"=true

        # The chance that gravel will drop when harvesting porous stone. Special item drops have a ((1 + fortune) / gravelModifier) percent chance of occurring.
        # Min: 1
        # Max: 100
        I:"Gravel Drop Modifier"=15

        # The number of items dropped when a special item drop occurs.
        # Min: 1
        # Max: 100
        I:"Special Item Drops"=1
    }

    "primal crusher tweaks" {
        # The Refining infusion enchantment level added to the Primal Crusher by default
        # Min: 1
        # Max: 4
        I:"Refining Level"=1

        # Makes the Primal Crusher unbreakable.
        B:"Set Unbreakable"=false
    }

    "research table tweaks" {
        # Adjusts the horizontal search area when the Research Table scans nearby blocks for Research Aids.
        # Min: 1
        # Max: 12
        I:"Research Aid Horizontal Search Distance"=4

        # Adjusts the vertical search area when the Research Table scans nearby blocks for Research Aids.
        # Min: 1
        # Max: 12
        I:"Research Aid Vertical Search Distance"=1

        # Allows the Research Table to use and consume items from nearby inventories for research. Table will search up to 3 blocks away from the Research Table for inventories.
        B:"Research Item Pulling"=false
    }

    "thaumonomicon tweaks" {
        # Disables the scroll wheel zoom feature while browsing Thaumonomicon categories.
        B:"Disable Thaumonomicon Zoom"=false
    }

    "vis generator tweaks" {
        # The maximum amount of RF that can be extracted from the Vis Capacitor per tick.
        # Min: 1
        # Max: 10000000
        I:"Max RF Extraction"=20

        # The maximum amount of RF the Vis Capacitor can hold. This value also controls the amount of RF generated per point of Vis.
        # Min: 1
        # Max: 10000000
        I:"RF Capacity"=1000
    }

    "void thaumaturge robes tweaks" {
        # The Vis discount granted when wearing the Void Thaumaturge Hood.
        # Min: 0
        # Max: 100
        I:"Helm Vis Discount"=5

        # The Vis discount granted when wearing the Void Thaumaturge Leggings.
        # Min: 0
        # Max: 100
        I:"Leggings Vis Discount"=5

        # The Vis discount granted when wearing the Void Thaumaturge Robes.
        # Min: 0
        # Max: 100
        I:"Robes Vis Discount"=5
    }

    "void siphon tweaks" {
        # Modifies the amount of rift power required to generate a Void Seed. Smaller values will increase the speed Void Seeds are created.
        # Min: 1
        # Max: 100000
        I:"Rift Power Required"=2000
    }

}


