# Configuration file

client {

    scanner {
        B:adaptiveTextScale=true

        # Min: 10
        # Max: 1000
        I:adaptiveTextScaleMaxPercent=200

        # Min: 10
        # Max: 1000
        I:adaptiveTextScaleMinPercent=100

        # Min: 10
        # Max: 1000
        I:arrowScalePercent=100

        # Min: 10
        # Max: 1000
        I:textScalePercent=100
    }

    maintainer {
        B:useTallView=false
    }

}


