# Configuration file

server {

    crafter {
        # Base number of crafts performed per operation cycle.
        # This is a flat multiplier on ALL batch sizes, dictating base throughput.
        # Example: Set to 20 = 20 crafts per second (at default 1 second cycle).
        # Multiplied with user's batch size for total crafts per operation.
        # Higher values = higher throughput.
        # Min: 1
        # Max: 1000000
        I:baseCraftsPerOperation=1
    }

}


