# Configuration file

breeding {
    # If at least this amount of breedable animals are within five blocks, new babies will not spawn.
    I:CrowdLimit=20

    # Prevents overbreeding.
    B:PoliceCrowding=true
}


general {
    # Automatically run clear entity and unload chunk checks
    B:AutomaticRemoval=true

    # Run all non-command effects even when not on a dedicated server
    B:EffectsOnSP=false

    # List of Entities not to destroy, use namespace:* to blacklist a whole mod.
    S:EntityBlackList <
        minecraft:villager
        minecraft:pig
        minecraft:chicken
        minecraft:rabbit
        minecraft:sheep
        minecraft:cow
        minecraft:armor_stand
        minecraft:item_frame
        minecraft:horse
        minecraft:donkey
        minecraft:witch
        minecraft:wolf
        minecraft:painting
        minecraft:villager_golem
        minecraft:ender_dragon
        minecraft:ender_crystal
        minecraft:wither
        minecraft:snowman
        minecraft:shulker
        minecraft:skeleton_horse
        minecraft:polar_bear
        minecraft:zombie_horse
        minecraft:mooshroom
        minecraft:parrot
        minecraft:ocelot
        minecraft:llama
        minecraft:boat
        minecraft:minecart
        minecraft:chest_minecart
        minecraft:hopper_minecart
        net.minecraft.entity.projectile.EntityFishHook
     >

    # Interval between clearing entities in minutes. The interval is actually 1 minute longer, as it includes a 1 minute warning.
    I:EntityInterval=15

    # List of Items not to destroy, use namespace:* to blacklist a whole mod.
    S:ItemBlackList <
        
     >

    # Maximum mobs spawnable per chunk. 0 disables.
    I:PerChunkSpawnLimit=100

    # If the server's main TPS drops below this number Lag'B'Gon will try to unload chunks to improve TPS
    I:TPSForUnload=12

    # If false, treats the entity blacklist as a whitelist
    B:ToggleEntityBlacklist=true

    # If false, treats the item blacklist as a whitelist
    B:ToggleItemBlacklist=true

    # Interval between unloading chunks in minutes.
    I:UnloadInterval=15
}


