# Configuration file

general {
    # The amount of blocks that should be processed during multiblock assembly, per tick. Default: 4
    I:assemblyBlocksProcessedPerTick=4

    # Whether the construct tool should include NBT in the machine output. Default: false
    B:constructNBT=false

    # The cooldown between multiblock assemblies. Default: 1 second
    I:cooldown=1

    # Whether the cooldown for assemblies/disassemblies should be enabled or not. Default: true
    B:cooldownEnabled=true

    # The amount of blocks that should be processed during multiblock disassembly, per tick. Default: 4
    I:disassemblyBlocksProcessedPerTick=4

    # The maximum amount of dragon breath charges that the dragon breath input hatch can hold. Default: 8
    I:dragonBreathChargesCapacity=8

    # The maximum amount of heat that heat hatches can hold. Default: 2^16
    D:heatHatchesCapacity=65536.0

    # The maximum amount of energy that laser hatches can hold. Default: 2^31 - 1
    D:laserHatchesCapacity=2.147483647E9

    # Hatches capture periodic snapshots of the game state and process them asynchronously. The snapshot update frequency is adjusted dynamically. This sets the maximum interval between updates (in ms). Default: 30_000
    I:maxIntervalMs=30000

    # Hatches capture periodic snapshots of the game state and process them asynchronously. The snapshot update frequency is adjusted dynamically. This sets the minimum interval between updates (in ms). Default: 500
    I:minIntervalMs=500

    # The maximum amount of potential energy that potential energy hatches (input and output) can hold. Default: 4096
    I:potentialEnergyHatchesCapacity=4096

    # The amount of radiation that. Default: 10000
    I:spongeMaxRadiation=10000
}


