# Configuration file

balancing {
    # Enabling this will cancel any structure generation if another structure is present at the cooridnate already. [default: true]
    B:avoidOverlappingGeneration=true

    # If enabled, placers (including decoration placement scoring/rays) will avoid triggering new chunks to be generated. This can decrease placement quality, but helps prevent chained chunk generation issues. [default: false]
    B:avoidPlacerChunkGeneration=false

    # Recommended for simple biome deny rules. Blocklist wins over whitelist. Examples: minecraft:ocean, ocean, type=WATER. This is combined with universalBiomeMatcher if that advanced expression is set. [default: ]
    S:biomeBlocklist <
     >

    # Recommended for simple biome allow rules. Empty means all biomes are allowed unless blocked. Examples: minecraft:plains, plains, type=FOREST. This is combined with universalBiomeMatcher if that advanced expression is set. [default: ]
    S:biomeWhitelist <
     >

    # Chance to use the customArtifactTag when an artifact generation tag fires. [range: 0.0 ~ 1.0, default: 0.0]
    S:customArtifactChance=0.0

    # Custom Loot Table to override when an artifact generation tag fires. [default: ]
    S:customArtifactTag=

    # Chance to use the customArtifactTag when a book generation tag fires. [range: 0.0 ~ 1.0, default: 0.0]
    S:customBookChance=0.0

    # Custom Loot Table to override when a book generation tag fires. [default: ]
    S:customBookTag=

    # Enable hacks for a few decoration types. Disabling this may fix problems but will deactivate ReC overriding those types of structures. [default: true]
    B:decorationHacks=true

    # Recommended for simple dimension deny rules. Blocklist wins over whitelist. Examples: -1, type=HELL, ENDER. This is combined with universalDimensionMatcher if that advanced expression is set. [default: ]
    S:dimensionBlocklist <
     >

    # Recommended for simple dimension allow rules. Empty means all dimensions are allowed unless blocked. Examples: 0, id=-1, type=EARTH. This is combined with universalDimensionMatcher if that advanced expression is set. [default: ]
    S:dimensionWhitelist <
     >

    # Resource Expression that will restrict logging of structures that fail to generate. [default: ]
    S:failingStructureLogExpression=

    # Whether the nature (e.g. trees, mushrooms) added by the mod should be actively generating. [default: true]
    B:generateNature=true

    # Global toggles that can be used in expressions. You can also add your own. Ex: 'treeLeavesDecay: true'. [default: [treeLeavesDecay: true]]
    S:globalToggles <
        treeLeavesDecay: true
     >

    # If disabled, Recurrent Complex will generate structures in worlds without the structure generation option. [default: true]
    B:honorStructureGenerationOption=true

    # Resource Expression that will be applied to each loading loot table, determining if it should be set to 'active'. [default: ]
    S:inventoryGeneratorGenerationMatcher=

    # Resource Expression that will be applied to each loading loot table, determining if it should be loaded. [default: ]
    S:inventoryGeneratorLoadMatcher=

    # Maximum number of reverses per room the maze generator can do. A higher number results in a better generation success rate, but may freeze the server temporarily. [range: -1.0 ~ 100.0, default: 3.0]
    S:mazePlacementReversesPerRoom=3.0

    # Maze generation timeout, in milliseconds. After the time is over, the maze generation will just give up. [range: -1 ~ 600000, default: 20000]
    I:mazeTimeout=20000

    # Within this block radius, default structures won't spawn (in the main dimension). [range: 0.0 ~ 500.0, default: 30.0]
    S:minDistToSpawnForGeneration=30.0

    # Maximum allowed height spread for average ray placement. Set to 0 to disable height spread tolerance. [range: 0 ~ 64, default: 4]
    I:rayAverageMaxHeightSpread=4

    # List of spawn chance tweaks to structures: IceThorn:0.5 [default: ]
    S:spawnTweaks <
        SpruceTree1:0.055931285
        UndergroundCultChamber:0.020917213
        StatueTemple:0.0
        StoneBoulder:0.10078998
        WoodWallRemains:0.0
        VillageHouseRich1:0.45061865
        StoneMazeSmall:0.0
        GenericTreeHuge:0.008046974
        MysticalTree:0.018740326
        UnnaturalCrater:0.025877403
        NetherThorn:0.016748575
        WoodThorn:0.14765877
        PyramidMazeScriptureTurn:0.0
        PirateChest:0.0
        Basswood:0.018740326
        StoneMazeFountain:0.0
        IceThorn:0.02868765
        ForestBeacon:0.0
        StoneMazePathBig:0.0
        MesoMazeSpiderTurn:0.0
        NetherThorn5:0.018740326
        NetherThorn4:0.018740326
        NetherThorn3:0.016748575
        NetherThorn2:0.023291852
        NetherThorn1:0.016748575
        DesertBeacon:0.0
        DinosaurSkeleton:0.002907522
        BabylonTower:0.0
        PyramidMazePath:0.0
        StoneLeafMound:0.0
        ClayWaterMound:0.020917213
        ShrineSmallAir:0.47775674
        SpiderPit:0.093040705
        PyramidMazeStorage:0.0
        ForestMazeCrossing:0.0
        SmallClockworkSite:0.0
        VillageForgeLarge:0.3765165
        MysticalTree2:0.013272756
        LodgepolePine:0.016748575
        MesoMazeCorridorCollapse:0.0
        SmallWoodenCottage:0.3541113
        SmallFortRuinsJapanese:0.0
        ForestMaze3Way:0.0
        StoneMazePagoda:0.0
        AbandonedWoodTower:0.0
        PyramidMazePagoda:0.0
        SmallPyramid:0.0
        BrickHenge:0.0
        IceThorn3:0.025877403
        IceThorn2:0.03504011
        ClayWaterMound1:0.025877403
        FallenPalmTree:0.0046143364
        PyramidMazeCorridorCollapse:0.0
        ElvenPond:8.0866885E-4
        TemplePyramid1:0.0
        BrownMushroom1:0.018740326
        SmallAbandonedMine:0.0
        QuakingAspen:0.025877403
        IceThorn4:0.020917213
        SnakeTemple:0.0
        BrownMushroom:0.018740326
        PeacefulCrypt:0.0
        PyramidMazeZombieTable:0.0
        RedMushroom1:0.023291852
        StoneIceBoulder3:0.17068876
        StoneIceBoulder2:0.11783689
        StoneIceBoulder1:0.11783689
        IceThorn1:0.031736903
        JungleTreeHuge1:0.013272756
        AlascaCedar:0.014929898
        GenericTreeSmall:0.016748575
        CuboneSkull:0.02868765
        StoneMazeLitRoom:0.0
        JungleTreeHuge:0.014929898
        PyramidMazeSpiderTurn:0.0
        GenericTree:0.014929898
        SmallAbandonedOutpost:0.0
        VillageSavannaKitchen:0.40004167
        DeadTreeLarge1:0.005334024
        SavannaTree:0.023291852
        DesertWatchtower:0.0
        GiganticTree1:0.01176614
        StoneMaze:0.0
        VillageSavannaTannery:0.5061869
        VillageSavannaStonemason:0.42472818
        ForestMazeClearing:0.0
        MesoMazePagoda:0.0
        OakTree:0.014929898
        VillageHouseRich:0.5061869
        TemplePyramid:0.0
        VillageSavannaGlassworks:0.5671064
        DeadTreeLarge3:0.0070424406
        DeadTreeLarge2:0.0070424406
        MysticalTree1:0.013272756
        ShrineSmallWater:0.42472818
        BirchTree1:0.020917213
        MonolythUnholy:0.0
        JokerTower:0.0
        VeldtBath:0.0
        DesertFort:0.0
        FirTree:0.020917213
        PyramidMazePillar:0.0
        StoneMazeSpiderRoom:0.0
        VillageSavannaLibrary:0.5061869
        StoneMazeShootingRange:0.0
        DesertHut:0.0
        GenericTree6:0.010399551
        VillageTriplets:0.5061869
        GenericTree4:0.010399551
        GenericTree3:0.01176614
        GenericTree2:0.01176614
        GenericTree1:0.016748575
        SmallWoodenCottage2:0.45061865
        SmallWoodenCottage1:0.3765165
        ForestMaze:0.0
        BigClockworkSite:0.0
        PyramidMazeClosedDoorway:0.0
        MesoMazeStairCorridor:0.0
        MesoMazeStairTurn:0.0
        StonePlantMound:0.010399551
        WoodenClockTower:0.11783689
        VillageGuardTower:0.42472818
        MesoMazePath:0.0
        VillageInn:0.31250003
        VillageWoodMill:0.47775674
        PyramidMazeStairCorridor:0.0
        CorruptedEnderTree:0.12718451
        Mopane:0.016748575
        VillageSavannaChandlery:0.40004167
        TribalJungleHead:0.046631925
        Fiberpalm:0.013272756
        WhiteWillowLarge:0.40004167
        ShrineSmallEarth:0.5359544
        ChurchGraveyardRuins:0.0
        BirchTreeBig1:0.014929898
        StoneMazeEndChest:0.0
        MesoMazeStorage:0.0
        SavannaTree1:0.018740326
        OldWatchtower:0.0
        LonePillars:0.025877403
        SmallOutpost:0.0
        ShrineSmallFire:0.5061869
        OakTreeBig:0.013272756
        VillageChurch:0.3541113
        SpruceTree3:0.078971595
        SpruceTree2:0.061106723
        MeteorSite:0.016748575
        StoneMazeBig:0.0
        WitchPillars:0.0
        StonePlantMound4:0.020917213
        StonePlantMound3:0.016748575
        StonePlantMound2:0.016748575
        StonePlantMound1:0.014929898
        PyramidMazeStairTurn:0.0
        MonolythHoly:0.0
        GenericTree5:0.010399551
        SmallFortRuins:0.0
        BirchTreeBig:0.018740326
        HillAltarHouse:0.0
        VillageMarketplace:0.40004167
        SpruceTree:0.078971595
        ForestMazeEnd:0.0
        UndergroundCrypt:0.038612805
        MesoMazeZombieTable:0.0
        MesoMazeGrowth:0.0
        BirchTree:0.020917213
        BlazeSpawnerCrystal:0.008046974
        PirateHideout:0.0
        ForestMazeCorridor:0.0
        ForestMazeSlimes:0.0
        FirTreeBig:0.025877403
        DinosaurSkull:0.008046974
        StoneMazeHuge:0.0
        RedMushroom:0.023291852
        DeadTreeLarge:0.010399551
        GiganticTree:0.010399551
        WoodThornBig:0.14765877
        UndergroundTreeoid:0.020917213
        WellShrine:0.40004167
        StoneIceBoulder:0.11783689
        StoneMazeStudy:0.0
        StonePlantBoulder:0.0070424406
        StoneMazePath:0.0
        SpruceTreeBig:0.06665838
        OakTreeHuge:0.013272756
        BigPyramid:0.0
        ForestMazeTurn:0.0
     >

    # Resource Expression that will be applied to each loading structure, determining if it should be set to 'active'. [default: ]
    S:structureGenerationMatcher=

    # Resource Expression that will be applied to each loading structure, determining if it should be loaded. [default: ]
    S:structureLoadMatcher=

    # How often do structures spawn? [range: 0.0 ~ 10.0, default: 1.0]
    S:structureSpawnChance=1.0

    # Advanced biome expression checked for every structure. Most users should use biomeWhitelist and biomeBlocklist instead. Use this only for complex expression logic. This is combined with the simple biome lists. [default: ]
    S:universalBiomeMatcher=

    # Advanced dimension expression checked for every structure. Most users should use dimensionWhitelist and dimensionBlocklist instead. Use this only for complex expression logic. This is combined with the simple dimension lists. [default: ]
    S:universalDimensionMatcher=

    # Transformer preset names that are gonna be applied to every single generating structure. Use this if you need to enforce specific rules (e.g. "don't ever spawn wood blocks" (with a replace transformer). [default: ]
    S:universalTransformerPresets <
     >
}


controls {
    # The key to be held when you want to make a secondary selection with block selectors [default: ctrl]
    S:blockSelectorModifierKeys=ctrl
}


decoration {
    # The base weight of RC sapling generation types. The vanilla tree weight is 1 - if you want to fully replace vanilla trees, crank this up to something big. [range: 0.0 ~ 100000.0, default: 0.2]
    S:baseSaplingSpawnWeight=0.2

    # The base weight of RC village generation types. Vanilla average is about 10 - if you want to fully replace vanilla structures in villages, crank this up to something big. [range: 0 ~ 100000, default: 10]
    I:baseVillageSpawnWeight=10

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_big_mushroom=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_cactus=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_desert_well=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_fossil=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_mineshaft=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_nether_bridge=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_ocean_monument=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_scattered_feature=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_stronghold=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_tree=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_village=0.2

    # The chance to trigger any special sapling spawns at all. If you want to disable the big trees, set this to 0. [range: 0.0 ~ 1.0, default: 1.0]
    S:saplingTriggerChance=1.0
}


general {
    # The required permission level for /#as to function. Set to 2 for command blocks and OPs, 4 for only server, or -1 to disable. Note that this could be a security problem on low levels. [range: -1 ~ 10, default: 4]
    I:asCommandPermissionLevel=4

    # List of Command Expressions determining if a command can be executed. Example: #export:#3 | $Ivorforce [default: ]
    S:commandMatchers <
     >

    # The String that will be prefixed to every command, e.g. '#' -> '/#gen', '#paste' etc. [default: #]
    S:commandPrefix=#

    # Enabling this will make the mod register as little as possible, which enables it to be used server-side only. Note that this prevents you from editing or importing structures. [default: false]
    B:lightweightMode=false

    # Memorize decoration spawns like trees or mushrooms (for /#whatisthis). Since decoration is so common, it is recommended to use this only for debugging / balancing purposes. [default: false]
    B:memorizeDecoration=false

    # Memorize sapling spawns (for /#whatisthis). Since saplings are so common, it is recommended to use this only for debugging / balancing purposes. [default: false]
    B:memorizeSaplings=false

    # Disabling this will prevent spawn command blocks from notifying the server admins, as normal commands would. [default: false]
    B:notifyAdminOnBlockCommands=false

    # Once per world, post the status of ReC to the admins. [default: true]
    B:postWorldStatus=true

    # Whether player caches like the clipboard and previewed operations will be saved and loaded. [default: true]
    B:savePlayerCache=true
}


visual {
    # Only show the edges of negative space blocks? (Improves performance in big builds) [default: true]
    B:hideRedundantNegativeSpace=true
}


