# Configuration file

ids {
    # This is the id of the dimension in the mod, this should be unique to Simple Void World
    I:"Dim id"=43
}


tweaks {
    # When true this allows creatures to spawn in this dimension
    B:CreatureSpawn=false

    # When set to true the sky and fog color are black this creates a seamless skybox
    B:"Dark mode"=false

    # When true this locks the at noon and creates an eternal day
    B:"Its High Noon"=false

    # The radius to search from the position for a portal
    # Min: 0
    # Max: 64
    I:Radius=8

    # When true this allows the player to respawn in this dimension
    B:Respawn=false

    compatibility {
        # When true this will search for old portals first.
        # Requires Portal Default Height to be false.
        B:"Backwards Portal Compat"=false

        # When true this sets the default height of the portal to 64.
        B:"Portal Default Height"=true
    }

    time {
        # The time to lock the world to
        # "It's High Noon" must be false
        # Set to -1 to disable lockedTime
        # Min: -1
        # Max: 2147483647
        I:"Locked time"=-1

        # When true the void world will match the overworld's time
        # "It's High Noon" must be false
        B:"Sync World Time"=false

        # The speed of the time in the void world. Higher values are faster
        # Min: 0.1
        # Max: 10.0
        D:"World Multiplier"=1.0
    }

    weather {
        # When false, the void world will never have weather, regardless of gamerule
        B:"Allow Weather"=false

        # When true the void world will match the overworld's weather
        B:"Sync World Weather"=false
    }

}


