# Configuration file

general {
    B:"Add Vajra Recipes"=true

    # Controls the break speed of a powered Vajra (note that there is a hard cap of one block per tick)
    D:"Break Speed"=1000000.0

    # Controls how much RF is used each time a vajra breaks a block
    I:"Charge Per Use"=10000

    # Controls the harvest level of a powered Vajra
    I:"Harvest Level"=1000000

    # Controls the Vajra's max charge
    I:"Max Charge"=10000000
    B:"Show Durability Bar"=true

    "mod interop" {
        B:"Applied Energistics 2 Unofficial Extended Life"=true
        B:"Ender IO"=true
    }

}


