# Configuration file

enabled {
    B:"abyssalcraft:abybrick"=true
    B:"abyssalcraft:abydreadbrick"=true
    B:"abyssalcraft:cobblestone"=true
    B:"abyssalcraft:cstonebrick"=true
    B:"abyssalcraft:darkstone_brick"=true
    B:"abyssalcraft:dltplank"=true
    B:"abyssalcraft:dreadbrick"=true
    B:"abyssalcraft:dreadlandsdirt"=true
    B:"abyssalcraft:ethaxiumbrick"=true
    B:"advancedrocketry:planks"=true
    B:"aether_legacy:dungeon_block"=true
    B:"aether_legacy:holystone"=true
    B:"aether_legacy:skyroot_plank"=true
    B:"appliedenergistics2:quartz_block"=true
    B:"appliedenergistics2:sky_stone_brick"=true
    B:"astralsorcery:blockblackmarble"=true
    B:"astralsorcery:blockmarble"=true
    B:"bewitchment:coquina_bricks"=true
    B:"bewitchment:cypress_planks"=true
    B:"bewitchment:dragons_blood_planks"=true
    B:"bewitchment:elder_planks"=true
    B:"bewitchment:juniper_planks"=true
    B:"bewitchment:scorned_bricks"=true
    B:"biomesoplenty:dirt"=true
    B:"biomesoplenty:planks_0"=true
    B:"biomesoplenty:white_sandstone"=true
    B:"botania:biomestonea"=true
    B:"botania:biomestoneb"=true
    B:"botania:dreamwood"=true
    B:"botania:livingrock"=true
    B:"botania:livingwood"=true
    B:"botania:quartztypeblaze"=true
    B:"botania:quartztypedark"=true
    B:"botania:quartztypeelf"=true
    B:"botania:quartztypelavender"=true
    B:"botania:quartztypemana"=true
    B:"botania:quartztypered"=true
    B:"botania:quartztypesunny"=true
    B:"environmentaltech:aethium"=true
    B:"environmentaltech:erodium"=true
    B:"environmentaltech:ionite"=true
    B:"environmentaltech:kyronite"=true
    B:"environmentaltech:lonsdaleite"=true
    B:"environmentaltech:pladium"=true
    B:"extratrees:planks.0"=false
    B:"extratrees:planks.1"=false
    B:"extratrees:planks.2"=false
    B:"extratrees:planks.fireproof.0"=false
    B:"extratrees:planks.fireproof.1"=false
    B:"extratrees:planks.fireproof.2"=false
    B:"forestry:ash_brick"=true
    B:"forestry:planks.0"=false
    B:"forestry:planks.1"=false
    B:"forestry:planks.fireproof.0"=false
    B:"forestry:planks.fireproof.1"=false
    B:"immersiveengineering:treated_wood"=true
    B:"integrateddynamics:crystalized_chorus_brick"=true
    B:"integrateddynamics:crystalized_menril_brick"=true
    B:"integrateddynamics:menril_planks"=true
    B:"natura:nether_planks"=true
    B:"natura:overworld_planks"=true
    B:"railcraft:brick_abyssal"=true
    B:"railcraft:brick_bleachedbone"=true
    B:"railcraft:brick_bloodstained"=true
    B:"railcraft:brick_frostbound"=true
    B:"railcraft:brick_infernal"=true
    B:"railcraft:brick_nether"=true
    B:"railcraft:brick_pearlized"=true
    B:"railcraft:brick_quarried"=true
    B:"railcraft:brick_red_nether"=true
    B:"railcraft:brick_red_sandy"=true
    B:"railcraft:brick_sandy"=true
    B:"techreborn:rubber_planks"=true
    B:"thaumcraft:plank_greatwood"=true
    B:"thaumcraft:plank_silverwood"=true
    B:"thebetweenlands:mud_bricks"=true
}


enabled_groups {
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


