# Configuration file

##########################################################################################################
# blacklist
#--------------------------------------------------------------------------------------------------------#
# Blacklist options for various features
##########################################################################################################

blacklist {
    # Stops listed blocks and entities from being teleposed.
    # Use the registry name of the block or entity. Vanilla objects do not require the modid.
    # If a block is specified, you can list the variants to only blacklist a given state.
    S:teleposer <
        bedrock
        mob_spawner
     >

    # Stops listed blocks from being transposed.
    # Use the registry name of the block. Vanilla blocks do not require the modid.
    S:transposer <
        bedrock
        mob_spawner
     >

    # Stops the listed entities from being used in the Well of Suffering.
    # Use the registry name of the entity. Vanilla entities do not require the modid.
    S:wellOfSuffering <
        twilightforest:naga
        twilightforest:minoshroom
        twilightforest:hydra
        twilightforest:ur_ghast
        twilightforest:yeti_alpha
        twilightforest:snow_queen
        twilightforest:giant_miner
        twilightforest:armored_giant
        divinerpg:karot
        divinerpg:ayeraco_red
        divinerpg:ayeraco_purple
        divinerpg:ayeraco_green
        divinerpg:ayeraco_yellow
        divinerpg:ayeraco_blue
        aoa3:anemia
        aoa3:bloodmist
        aoa3:dark_beast
        aoa3:host
        aoa3:irkling
        aoa3:linger
        aoa3:modulo
        aoa3:night_watcher
        aoa3:rammerhead
        aoa3:roloscope
        aoa3:scrubby
        aoa3:skellox
        aoa3:terrestrial
        aoa3:urka
        aoa3:vertebron
        aoa3:void_walker
        aoa3:walker
        aoa3:death_hunter
        aoa3:headless_destroyer
        aoa3:reaper_twins
        aoa3:triclops
        aoa3:mother_void_walker
        aoa3:ice_giant
        aoa3:leafy_giant
        aoa3:sand_giant
        aoa3:stone_giant
        aoa3:wood_giant
        aoa3:amphibiyte
        aoa3:skeletal_cowman
        aoa3:kaiyu
        aoa3:zhinx
        aoa3:exohead
        aoa3:nethengeic_beast
        aoa3:diocus
        aoa3:paravite
        aoa3:spinoledon
        aoa3:iosaur
        aoa3:mushroom_spider
        aoa3:rawbone
        aoa3:enforcer
        aoa3:undead_troll
        aoa3:jawe
        aoa3:banshee
        aoa3:nightmare_spider
        aoa3:dawnlight
        aoa3:nightwing
        aoa3:flesh_eater
        aoa3:jumbo
        aoa3:phantom
        aoa3:cane_bug
        aoa3:gingerbird
        aoa3:gingerbread_man
        aoa3:pod_plant
        aoa3:vine_wizard
        aoa3:spectral_wizard
        aoa3:runic_guardian
        aoa3:mermage
        aoa3:amphibior
        aoa3:faceless_floater
        aoa3:zorp
        aoa3:zarg
        aoa3:baumba
        aoa3:refluct
        aoa3:inmate_x
        aoa3:inmate_y
        aoa3:merkyre
        aoa3:crusilisk
        aoa3:arkzyne
        aoa3:shyre_troll
        aoa3:lightwalker
        aoa3:luxocron
        iceandfire:firedragon
        iceandfire:icedragon
        iceandfire:lightningdragon
        aoa3:stimulosus
        bewitchment:baphomet
        bewitchment:leonard
        thaumcraft:cultistportalgreater
        thaumcraft:cultistportallesser
        mowziesmobs:frostmaw
        divinerpg:behemoth
        minecraft:zombie
        minecraft:wither
        aoa3:bane
        aoa3:baroness
        aoa3:clunkhead
        aoa3:coniferon
        aoa3:corallus
        aoa3:cotton_candor
        aoa3:craexxeus
        aoa3:creep
        aoa3:crystocore
        aoa3:dracyon
        aoa3:elusive
        aoa3:flash
        aoa3:goldorth
        aoa3:graw
        aoa3:green_guardian
        aoa3:yellow_guardian
        aoa3:red_guardian
        aoa3:blue_guardian
        aoa3:gyro
        aoa3:harkos
        aoa3:hive_king
        aoa3:horon
        aoa3:hydrolisk
        aoa3:kajaros
        aoa3:king_bambambam
        aoa3:king_shroomus
        aoa3:klobber
        aoa3:kror
        aoa3:mechbot
        aoa3:mirage
        aoa3:miskel
        aoa3:nethengeic_wither
        aoa3:okazor
        aoa3:penumbra
        aoa3:proshield
        aoa3:raxxan
        aoa3:rockrider
        aoa3:shadowlord
        aoa3:silverfoot
        aoa3:skeletron
        aoa3:smash
        aoa3:tyrosaur
        aoa3:vinocorne
        aoa3:visualent
        aoa3:voxxulon
        aoa3:xxeus
        thaumcraft:cultistcleric
        thaumcraft:cultistleader
        thaumcraft:cultistknight
        aoa3:polytom
        aoa3:voltron
        aoa3:mechachron
        iceandfire:dread_thrall
        iceandfire:dread_horse
        iceandfire:dread_ghoul
        iceandfire:dread_queen
        iceandfire:dread_lich
        iceandfire:dread_scuttler
        iceandfire:dread_knight
        iceandfire:dread_beast
        mod_lavacow:ithaqua
        mod_lavacow:parasite
        mod_lavacow:mummy
        mod_lavacow:pingu
        mod_lavacow:vespa
        mod_lavacow:skeletonking
        mod_lavacow:scarecrow
        mod_lavacow:avaton
        mod_lavacow:salamander
        mod_lavacow:forsaken
        mod_lavacow:foglet
        mod_lavacow:unburied
        mod_lavacow:sludgelord
        mod_lavacow:zombie_mushroom
        mod_lavacow:banshee
        mod_lavacow:weta
        mod_lavacow:undeadswine
        mod_lavacow:undertaker
        mod_lavacow:boneworm
        mod_lavacow:zombiefrozen
        twilightforest:king_spider
        ebwizardry:shadow_wraith
        ebwizardry:lightning_wraith
        ebwizardry:ice_wraith
        ebwizardry:storm_elemental
     >
}


##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Settings that only pertain to the client
##########################################################################################################

client {
    # Always render the beams between routing nodes.
    # If disabled, the beams will only render while the Node Router is held.
    B:alwaysRenderRoutingLines=false

    # Completely hide spectral blocks from view.
    # If disabled, a transparent block will be displayed.
    B:invisibleSpectralBlocks=true

    # When cycling through slots, the Sigil of Holding will skip over empty slots and move to the next occupied one.
    # If disabled, it will behave identically to the default hotbar.
    B:sigilHoldingSkipsEmptySlots=false
}


##########################################################################################################
# compat
#--------------------------------------------------------------------------------------------------------#
# Compatibility settings
##########################################################################################################

compat {
    # The display mode to use when looking at a Blood Altar.
    # ALWAYS - Always display information.
    # SIGIL_HELD - Only display information when a Divination or Seers sigil is held in either hand.
    # SIGIL_CONTAINED - Only display information when a Divination or Seers sigil is somewhere in the inventory.
    # Valid values:
    # ALWAYS
    # SIGIL_HELD
    # SIGIL_CONTAINED
    S:wailaAltarDisplayMode=SIGIL_CONTAINED
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings
##########################################################################################################

general {
    # Enables extra information to be printed to the log.
    B:enableAPILogging=false

    # Enables extra information to be printed to the log.
    # Warning: May drastically increase log size.
    B:enableDebugLogging=false

    # Enables tier 6 related registrations. This is for pack makers.
    B:enableTierSixEvenThoughThereIsNoContent=true

    # Enables extra information to be printed to the log.
    # Warning: May drastically increase log size.
    B:enableVerboseAPILogging=false
}


##########################################################################################################
# values
#--------------------------------------------------------------------------------------------------------#
# Value modifiers for various features
##########################################################################################################

values {
    # Amount of LP the Coat of Arms should provide for each damage dealt.
    # Min: 0
    # Max: 100
    I:coatOfArmsConversion=20

    # Amount of LP the Sacrificial Dagger should provide for each damage dealt.
    # Min: 0
    # Max: 10000
    I:sacrificialDaggerConversion=100

    # Declares the amount of LP gained per HP sacrificed for the given entity.
    # Setting the value to 0 will blacklist it.
    # Use the registry name of the entity followed by a ';' and then the value you want.
    # Vanilla entities do not require the modid.
    S:sacrificialValues <
        villager;100
        slime;15
        enderman;10
        cow;100
        chicken;100
        horse;100
        sheep;100
        wolf;100
        ocelot;100
        pig;100
        rabbit;100
     >

    # Will rewrite any default meteor types with new versions.
    # Disable this if you want any of your changes to stay, or do not want default meteor types regenerated.
    B:shouldResyncMeteors=true

    # Should mobs that die through the Well of Suffering Ritual drop items?
    B:wellOfSufferingDrops=true
}


